.more-section {
    position: absolute;
    right: 5%;
    top: 120%;
    background-color: #FFFFFF;
    width: 250px;
    height: 18vh;
    box-shadow: 0 9px 30px #0000001a;
    border-radius: 12px;

padding-left: 12px;
padding-top: 12px;
transition: 0.3s ease-in;
display: none;
    }

.home {
    position: absolute;
    top: 7px;
    right: 3%;
background-color: white;
border-radius: 15px;
    width: 95%;
    height: 8vh;
    border: none;
}

.home:hover{
    background-color: #F1F1F1;
}

.about {
    position: absolute;
    bottom: 11px;
    right: 3%;
    background-color: white;
    border-radius: 15px;
    height: 8vh;
    width: 95%;
    border: none;
}

.about:hover{
    background-color: #F1F1F1;
}

    .menu-item-text{
        position: absolute;
        left: 25%;
        bottom: 28%;
font-size: 24px;
        font-weight: 600
    }
    
    .menu-item-icon {
        position: absolute;
        left: 8%;
        bottom: 32%;

    }

      /* More section styles */
  .more-button {
    background-color: white;
    border-radius: 50%;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.4);
    width: 3.5vw;
    border: none;
    height: 3.5vw;
    margin-left: 50px; /* Space between work-more and more-section */
    padding-top: 5.5px ;
    cursor: pointer;

}


.active{
    display: block;
  }

 
 