.card1 {
    position: absolute;
    top: 75%; 
    left: 20%;
    width: 100%;
    min-width: 900px;
    max-width: 1000px;
    height: 440px;
    background-color: #F6F6F6;
    border: none;
    border-radius: 20px;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.5);
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
    
  }
  
  .card2 {
    position: absolute;
    top: 150%; 
    left: 20%;
    width: 100%;
    min-width: 900px;
    max-width: 1000px;
    height: 440px;
    background-color: #F6F6F6;
    border: none;
    border-radius: 20px;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.5);
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
  }
  

  .projects {
    display: flex;
gap: 5%;
    position: absolute;
    bottom: -130%; 
    width: calc(25% * 10);
    height: 13vh;
    background-color: #F6F6F6;
 
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 10%;
    animation: slider 20s linear infinite;
  
      animation-play-state: running; /* Stop the animation when hovering over a project card */
  
    
  }



  @keyframes slider{
    from{
      transform: translateX(0);
    }
    to {
transform: translateX(calc(-12% * 5));
    }
  }


  .project-card1 {
    

    height: 13vh;
    
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
    animation: slider 0.3 linear;
    
  }


  .project-card2 {
  
    height: 13vh;
   
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
  }

  .project-card3 {
 
    height: 13vh;
    
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
  }

  .project-card4 {
 
    height: 13vh;
    
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
  }

  
  .project-card5 {
 
    height: 13vh;
    
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
  }

  .project-card{
    width: 100%;
transition: 0.3s ease-in-out;
box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
background-color: #474747;
border-radius: 10px;
  }

  .project-card:hover {
 
scale: 120%;

  }

  .projects:hover {
    animation-play-state: paused; /* Stop the animation when hovering over a project card */
  }

 